# Default values for product-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

images:
  app:
    repository: timib22/cloudshopt-products-php
    tag: "0.0.1"
    pullPolicy: IfNotPresent
  nginx:
    repository: timib22/cloudshopt-nginx
    tag: "0.0.1"
    pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
    # /api/products/<x> -> /api/<x>
    nginx.ingress.kubernetes.io/rewrite-target: /api/$2
  hosts:
    - host: app.timotejblazic.eu
      paths:
        - path: /api/products(/|$)(.*)
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - app.timotejblazic.eu
      secretName: app-tls

appCode:
  sourcePath: /var/www/html
  mountPath: /var/www/html

existingSecretName: product-service-secrets

env:
  APP_ENV: production
  APP_DEBUG: "false"
  APP_KEY: "base64:LcY4ll1kwDGK/708RaB+0uCk0BtKa+K7OypExGtIYTI="
  DB_CONNECTION: "mysql"
  DB_HOST: "cloudshopt-mysql.cloudshopt.svc.cluster.local"
  DB_PORT: "3306"
  DB_DATABASE: "cloudshopt_products"
  DB_USERNAME: "users"
  REDIS_HOST: "cloudshopt-redis-master.cloudshopt.svc.cluster.local"
  REDIS_PORT: "6379"
  IMAGE_SHA: "0.0.1"

probes:
  readiness:
    enabled: true
    path: /healthz
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 2
    successThreshold: 1
    failureThreshold: 3

  liveness:
    enabled: true
    path: /healthz
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 2
    successThreshold: 1
    failureThreshold: 3

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
