controller:
  service:
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /healthz
    externalTrafficPolicy: Local
  metrics:
    enabled: true
  serviceMonitor:
    enabled: true
