name: Build & Push Docker image

on:
  workflow_call:
    inputs:
      prod_branch:
        type: string
        default: main
      dev_tag_prefix:
        type: string
        default: dev-

      image_repository:
        type: string
        required: true

      docker_context:
        type: string
        default: .
      dockerfile:
        type: string
        required: true

    outputs:
      image_tag:
        value: ${{ jobs.build.outputs.image_tag }}

    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == inputs.prod_branch && 'production' || 'development' }}
    outputs:
      image_tag: ${{ steps.meta.outputs.tag }}
    steps:
      - name: Checkout service repo
        uses: actions/checkout@v4

      - name: Decide image tag
        id: meta
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" = "${{ inputs.prod_branch }}" ]; then
            echo "tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          else
            echo "tag=${{ inputs.dev_tag_prefix }}${GITHUB_SHA}" >> $GITHUB_OUTPUT
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.docker_context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ inputs.image_repository }}:${{ steps.meta.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max